<div class="main-container">
  <nav class="navbar">
    <div class="navbar-content">
      <div class="logo-container">
        <h1>ProyectoAdoptame</h1>
      </div>
      <ul class="nav-links">

      </ul>
      <button pButton type="button" label="Iniciar sesión" routerLink="/login" class="login-button"></button>
    </div>
  </nav>


    <div class="content-container">
      <section class="main-content">
        <div class="left-content">
          <h1>Adopta una mascota</h1>
          <p>Adoptar una mascota transforma vidas. Conectamos a animales necesitados con familias amorosas. ¡Sé parte del cambio!</p>
          <p>Regístrate ahora para acceder al formulario de adopción y ofrecer un hogar a una mascota. ¡Tu nuevo amigo te está esperando!</p>
          <button type="button" class="register-button" routerLink="/form-adopcion">Regístrate</button>
        </div>
        <div class="right-content">
          <img src="https://res.cloudinary.com/ddodvvqcq/image/upload/v1722494495/img/WallPaper3.png" alt="Dog Image">
        </div>
      </section>
    </div>
  </div>
